<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poll to Poll</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../public/materialize.min.css" media="screen,projection" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>

<body>
    <!-- Nav -->
    <nav class="indigo darken-3">
        <div class="container nav-wrapper">
            <a href="#" class="brand-logo pink-text text-lighten-4">Poll to Poll</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
            </ul>
        </div>
    </nav>
    <!-- Intro -->
    <div class="container">
        <div class="row">
            <div class="col s12 m5 offset-m1" id="intro">
                <h2 class="center-align">Poll Dashboard</h2>
            </div>
            <div class="col s12 m6 valign-wrapper center-align">
                <p class="valign">
                    <br><br>
                    <a class="waves-effect waves-light btn-large main-btns">Create a New Poll</a>
                    <a class="waves-effect waves-light btn-large main-btns">See My Polls</a>
                </p>
            </div>
        </div>
    </div>
    <!-- New Poll -->
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h4>My Polls:</h4>
            </div>
            <ul class="col s8 collection">
                <li class="collection-item blue-text text-darken-2 dismissable"> What is your favorite placeholder? <a href="#!" class="secondary-content"><i class="material-icons">remove_circle</i></a></li>
                <li class="collection-item blue-text text-darken-2 dismissable"> Who is the best "The Price is Right" host? <a href="#!" class="secondary-content"> <i class="material-icons">remove_circle</i></a></li>
                <li class="collection-item blue-text text-darken-2 dismissable"> What is the best breakfast pastry? <a href="#!" class="secondary-content"> <i class="material-icons">remove_circle</i></a></li>
                <li class="collection-item blue-text text-darken-2 dismissable"> How much wood could a woodchuck chuck if a woodchuck could chuck wood real good? <a href="#!" class="secondary-content"> <i class="material-icons">remove_circle</i></a></li>
            </ul>
        </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Materialize.js -->
    <script type="text/javascript" src="../public/materialize.min.js"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>
</body>

</html>
