<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poll to Poll</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../public/materialize.min.css" media="screen,projection" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>

<body>
    <!-- Nav -->
    <nav class="indigo darken-3">
        <div class="container nav-wrapper">
            <a href="#" class="brand-logo pink-text text-lighten-4">Poll to Poll</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
            </ul>
        </div>
    </nav>
    <!-- Intro -->
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m1 left-align" id="intro">
                <h2>Create a poll on the fly, wherever you are.</h2>
            </div>
            <div class="col s12 m3 valign-wrapper">
                <p class="valign">
                    <br>
                    <br>
                    <a class="waves-effect waves-light btn-large main-btns">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Polls -->
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h4>Latest polls:</h4>
            </div>
            <div class="col s8 collection">
                <a href="#!" class="collection-item blue-text text-darken-2">What is your favorite placeholder?</a>
                <a href="#!" class="collection-item blue-text text-darken-2">Who is the best "The Price is Right" host?</a>
                <a href="#!" class="collection-item blue-text text-darken-2">What is the best breakfast pastry?</a>
                <a href="#!" class="collection-item blue-text text-darken-2">How much wood could a woodchuck chuck if a woodchuck could chuck wood?</a>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Materialize.js -->
    <script type="text/javascript" src="../public/materialize.min.js"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>
</body>

</html>
